# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

vue-visualplatform3d/node_modules
vue-visualplatform3d/.DS_Store
vue-visualplatform3d/dist
vue-visualplatform3d/dist-ssr
vue-visualplatform3d/coverage
vue-visualplatform3d/*.local
vue-visualplatform3d/memo.txt

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
